/* .App {
  text-align: left;
  font-size: 15px;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.darkBlueTopicBoxReq {
  background-color: #144272;
  margin: 20px 100px;
  padding: 40px 0;
  border-radius: 30px;
}

.pageTopicReq {
  color: white;
  font-family: Bebas Neue;
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-style: normal;
}

.requestL {
  font-size: 15px;
  text-align: left;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2%;
  margin-bottom: 20px;
  font-style: inherit;
}

.reqtextbox {
  width: 500px;
}

.txt1 {
  font-family: sans-serif;
}

.requestL2 {
  padding-left: 3%;
}

.requantent {
  display: flex;
  flex-wrap: wrap;
  font-family: legendum;
}

.column-1 {
  flex: 1;
  text-align: left;
  padding-left: 40px;
}

.column-2 {
  flex: 1;
  text-align: left;
  padding-left: 40px;
  border-left: 2px solid white;
}

.column-title {
  font-family: Bebas Neue;
  font-size: 30px;
  padding: 0;
  margin: 0 0 20px 0;
  color: white;
  text-shadow: 2px 2px 5px #05060f;
}

.reqbtn {
  border: 2px solid #144272;
  background-color: #144272;
  margin: 20px 0 0 0;
  padding: 20px;
  color: white;
  font-family: Bebas Neue;
  font-size: 25px;
  border-radius: 20px;
}

.reqbtn:hover {
  border: 2px solid #144272;
  background-color: white;
  color: #144272;
  transition: 0.5s;
}

.viewreqbt {
  font-size: 30px;
  margin-top: 0%;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #144272;
  color: white;
  margin-left: 42%;
  margin-bottom: 5%;
}

.viewreqbt:hover {
  background-color: orange;
  color: black;
}

.delbtn {
  margin: 0 5px 0 0;
  padding: 20px;
  border: 2px solid red;
  background-color: red;
  color: white;
  font-family: Bebas Neue;
  font-size: 25px;
  border-radius: 15px;
}

.delbtn:hover {
  border: 2px solid red;
  background-color: white;
  color: red;
  transition: 0.5s;
}

.updatebtn {
  background-color: #2c74b3;
  border: 2px solid #2c74b3;
  padding: 10px;
  color: white;
  font-family: Bebas Neue;
  font-size: 20px;
  border-radius: 10px;
  width: 150px;
}

.updatebtn:hover {
  background-color: white;
  border: 2px solid #2c74b3;
  color: #2c74b3;
  transition: 0.5s;
}

.repbtn {
  float: right;
  font-family: Bebas Neue;
  padding: 15px 35px;
  margin-top: -20%;
  margin-right: 5%;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  transition: all 1000ms;
  font-size: 25px;
  position: relative;
  overflow: hidden;
  outline: 2px solid orange;
  background-color: orange;
}

.repbtn:hover {
  color: orange;
  transform: scale(1.1);
  outline: 2px solid orange;
  box-shadow: 4px 5px 17px -4px orange;
}

.repbtn::before {
  content: '';
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.repbtn:hover::before {
  width: 250%;
}

.Srepbtn {
  float: center;
  width: 250px;
  font-size: 30px;
  margin-bottom: 20px;

  margin-top: 30px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: orange;
  color: white;
}

.Srepbtn:hover {
  background-color: blue;
  color: wheat;
}

.edtsp {
  float: left;
  margin-top: -20%;
  margin-left: 35%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 300px;
}

.edtcl {
  float: left;
  margin-top: -17%;
  margin-left: 35%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 300px;
}

.edtds {
  float: left;
  margin-top: -11%;
  margin-left: 35%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 300px;
}

.edtwt {
  float: left;
  margin-top: -14%;
  margin-left: 35%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 300px;
}

.validation {
  color: red;
}

/* janith - css */

.add-req-btn {
  font-family: Bebas Neue;
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2c74b3;
  transition: all 1000ms;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c74b3;
  margin: 20px;
}

.add-req-btn:hover {
  color: white;
  transform: scale(1.1);
  outline: 2px solid white;
  box-shadow: 4px 5px 17px -4px #268391;
}

.add-req-btn::before {
  content: '';
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #144272;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.add-req-btn:hover::before {
  width: 250%;
}

.input {
  width: 80%;
  height: 44px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border-color: #cadefc;
  /* border: 2px solid transparent; */
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}


.label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.input:hover,
.input:focus,
.input-group:hover .input {
  outline: none;
  border-color: #144272;
}

.input-group:hover .label,
.input:focus {
  color: #144272;
}


.inputupdate {
  width: 100%;
  height: 44px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border-color: #cadefc;
  /* border: 2px solid transparent; */
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.inputupdate:hover,
.inputupdate:focus,
.inputupdate-group:hover .input {
  outline: none;
  border-color: #144272;
}

.inputupdate-group:hover .label,
.inputupdate:focus {
  color: #144272;
}

.lightBlueBodyBG-my-req {
  background-color: #cadefc;
  margin: 20px 100px;
  padding: 20px;
  border-radius: 30px;
}

.pageTopic {
  color: white;
  font-family: Bebas Neue;
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
}

.whiteBodyBG {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 40px;
}



.white-content {
  display: flex;
  flex-wrap: wrap;
}


.myreq-column-1 {
  flex: 1;
}

.myreq-column-2 {
  flex: 1;
}

.myreq-column-3 {
  flex: 1;
}

.req-lable {
  font-family: legendum;
  color: #144272;
  font-weight: bold;
  padding-left: 5%;
  width: 40%;
  padding-top: 1%;
}

.req-value {
  font-family: legendum;
  color: #144272;
  padding-left: 2%;
  width: 500px;
  
}

table {
  margin: 10px;
}

.myreq-column-2 {
  padding: 15px;
  border: 2px solid #cadefc;
  border-radius: 20px;
}

/* delete btn */

.btn-del {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px 0.2px red;
  box-shadow: 2px 2px 5px 0.2px red;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  transition-delay: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.btn-del:hover {
  width: 150px;
  transition-delay: 0.2s;
}

.btn-del:hover > .paragraph {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.btn-del:hover > .icon-wrapper .icon {
  transform: scale(1.1);
}

.btn-del:hover > .icon-wrapper .icon path {
  stroke: red;
}

.paragraph {
  color: red;
  visibility: hidden;
  opacity: 0;
  font-size: 18px;
  margin-right: 20px;
  padding-left: 20px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  font-weight: bold;
  text-transform: uppercase;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transform: scale(0.9);
  transition: 0.2s linear;
}

.icon path {
  stroke: red;
  stroke-width: 2px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.repliesbtn {
  float: right;
  background-color: #30a945;
  border: 2px solid #2c74b3;
  margin-top: 20px;
  padding: 10px;
  color: white;
  font-family: Bebas Neue;
  font-size: 20px;
  border-radius: 10px;
  width: 150px;
}

.repliesbtn:hover {
  background-color: white;
  border: 2px solid #2c74b3;
  color: #2c74b3;
  transition: 0.5s;
}

/* .repliesbtnAdmin {
  
  background-color: #30a945;
  border: 2px solid #2c74b3;
  margin-top: 20px;
  padding: 10px;
  color: white;
  font-family: Bebas Neue;
  font-size: 20px;
  border-radius: 10px;
  width: 150px;
}

.repliesbtnAdmin:hover {
  background-color: white;
  border: 2px solid #2c74b3;
  color: #2c74b3;
  transition: 0.5s;
} */


.repliesbtnAdmin {
  font-family: Bebas Neue;
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: green;
  transition: all 1000ms;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c74b3;
  margin: 20px;
}

.repliesbtnAdmin:hover {
  color: white;
  transform: scale(1.1);
  outline: 2px solid white;
  box-shadow: 4px 5px 17px -4px green;
}

.repliesbtnAdmin::before {
  content: '';
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: green;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.repliesbtnAdmin:hover::before {
  width: 250%;
}

.updatebox:hover{
  box-shadow: #30a945;
}

.updatelbl{
  font-size: 30px;
  color: #30a945;
}

.labelSort{
  color: black;
}

.sortRequest{
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
}

.infobox{
  width: 80%;
}


/* .reqData{
  width: 90%;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
} */



.reqreportTB {
  border-collapse: collapse;
  width: 90%;
  border-radius: 10px;
  margin: 0 auto; 
  text-align: center;
}

.reqTh {
  background-color: #268391; 
  color: #333333; 
  border: 1px solid #dddddd; 
  padding: 8px;
  text-align: left;
}

.searchReq{
  width: 50%;
  margin: 0 auto;
  border-radius: 30px;
}

.replybox{
  width: 90%;
  margin: 0 auto;
}

.replymsg{
  font-size: 25px;
}

