.title-box-feedback {
  background-color: #144272;
  margin: 20px 150px;
  padding: 40px;
  border-radius: 20px;
}

.title-feedback {
  color: white;
  font-family: Bebas Neue;
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
}

.all-fb-light-blue-bg {
  background-color: #cadefc;
  margin: 20px 150px;
  padding: 40px;
  border-radius: 20px;
}

.add-feedback-btn {
  font-family: Bebas Neue;
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2c74b3;
  transition: all 1000ms;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c74b3;
  margin: 20px;
}

.add-feedback-btn:hover {
  color: white;
  transform: scale(1.1);
  outline: 2px solid white;
  box-shadow: 4px 5px 17px -4px #268391;
}

.add-feedback-btn::before {
  content: '';
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #144272;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.add-feedback-btn:hover::before {
  width: 250%;
}

.feedback-input-img {
  width: fit-content;
}

.top-btn {
  width: 100%;
}
