/* GemAdminReports.css */
.admin-bar-chart-container {
  width: 80%;
  margin: 0 auto;
}

.admin-chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f7f7f7;
}

.admin-bar {
  width: 100px;
  background-color: #4286f4;
  transition: height 0.3s ease;
}

.admin-bar:hover {
  background-color: #3276d6;
}

.admin-axis-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}

.admin-y-axis {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin-right: 8px;
}

.admin-y-axis-label-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.admin-y-axis-label {
  text-align: right;
  font-size: 12px;
  color: #333;
  margin-bottom: 10px;
}

.admin-x-axis {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.admin-x-axis-label {
  text-align: center;
  font-size: 12px;
  color: #333;
}

.admin-bar-chart-container {
  margin-top: 20px;
}

.admin-chart {
  padding: 20px;
  background-color: #f7f7f7;
}

.admin-axis-labels {
  margin-top: 20px; /* Add spacing between the chart and axis labels */
}

/* Reports */
.reports-gem-admin {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.report-title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.report-table {
  width: 100%;
  border-collapse: collapse;
}

.gem-admin-report-header {
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.gem-admin-report-cell {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: all 0.3s ease;
}

.report-row:hover {
  background-color: #f9f9f9;
}

.report-row:hover .gem-admin-report-cell {
  color: #555;
}

.gem-admin-report-cell:first-child {
  border-left: 1px solid #ccc;
}

.gem-admin-report-cell:last-child {
  border-right: 1px solid #ccc;
}

.report-table th,
.report-table td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.report-table th {
  font-weight: bold;
}

.admin-bar-chart-container {
  margin-bottom: 20px;
}

.report-title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.admin-chart {
  display: flex;
}

.admin-bar {
  flex: 1;
  background-color: #007bff;
  margin-right: 5px;
  transition: height 0.3s ease;
}

.admin-axis-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.admin-x-axis-label {
  text-align: center;
}