.darkBlueTopicBoxGem {
  background-color: #144272;
  margin: 20px 100px;
  padding: 40px 0;
  border-radius: 30px;
}

.pageTopicGems {
  color: white;
  font-family: Bebas Neue;
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-style: normal;
}

.lightBlueBodyBGGemForm {
  background-color: #cadefc;
  margin: 0 100px;
  margin-bottom: 20px;
  padding: 30px 0;
  height: 100%;
  border-radius: 20px;
}

.column-1-gem-form {
  flex: 1;
  text-align: left;
  padding-left: 40px;
}

.column-2-gem-form {
  flex: 1;
  text-align: left;
  padding-left: 40px;
}

.gem-add-buttons {
  background-color: #144272;
  border: 2px solid #144272;
  padding: 15px 40px;
  font-family: Bebas Neue;
  font-size: 20px;
  border-radius: 10px;
}

.gem-add-buttons:hover {
  border: 2px solid #144272;
  background-color: white;
  color: #144272;
  transition: 0.5s;
}

.gem-input {
  width: 400px;
  height: 44px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.gem-label {
  font-family: legendum;
  font-weight: bold;
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #144272;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.gem-input:hover,
.gem-input:focus,
.gem-input-group:hover .gem-input {
  outline: none;
  border-color: #144272;
}

.gem-input-group:hover .gem-label,
.gem-input:focus {
  color: #144272;
}

.lightBlueBodyBG-my-req {
  background-color: #cadefc;
  margin: 20px 100px;
  padding: 20px;
  border-radius: 30px;
}

.pageTopicGem {
  color: white;
  font-family: Bebas Neue;
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
}

.whiteBodyBG {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 40px;
}

.column-holder-gem-form {
  display: flex;
  flex-wrap: wrap;
}

.gem-select {
  width: 300px;
  height: 44px;
  border: none;
  border-radius: 0.5rem;
  padding: 0 1rem;
  font-size: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.146 9.854a.5.5 0 00.708 0L8 8.207l1.146 1.647a.5.5 0 00.708 0l.354-.354a.5.5 0 000-.708L8.354 7.5a.5.5 0 00-.708 0L6.146 9.146a.5.5 0 000 .708z' fill='%232c74b3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  color: #777;
}

.gem-select option {
  color: #000;
  background-color: #fff;
}

.gem-select:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(44, 116, 179, 0.5);
}

.gem-select:focus option:checked {
  background-color: #cadefc;
  color: #000;
}

/* image */
.gem-admin-add-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 10px; /* Add desired padding value */
}

.removeImage {
  display: block;
  font-size: 12px;
  padding: 4px 8px;
  background-color: #ccc;
  border: none;
  border-radius: 3px;
  margin-top: 5px;
}

.img-gem-form-input {
  width: 200px;
}

.report-title {
  font-family: legendum;
  font-weight: bold;
}

.white-box-for-tables {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

/* error */
.gem-admin-_error{
    color: #e7195a;
    margin: 20px 0;
  }
