.gem-details {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.gem-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
}

.gem-card:hover {
  box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.4); /* Increased shadow size */
}

.gem-card__title {
  font-size: 30px;
  font-weight: bold;
  color: #414040;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}

.gem-card p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #414040;
}

/* delete button */

.gem-card__deleteButton {
  font-family: 'Bebas Neue', sans-serif;
  padding: 10px 20px;
  border: 2px solid #e53935; /* Add a border to the button */
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e53935;
  background-color: #ffffff;
  transition: all 1000ms;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  outline: none; /* Remove the outline */
  margin: 20px;
  z-index: 1;
}

.gem-card__deleteButton:hover {
  color: #ffffff;
  background-color: #e53935;
  transform: scale(1.1);
  outline: none; /* Remove the outline */
  box-shadow: 4px 5px 17px -4px #801313;
}

.gem-card__deleteButton::before {
  content: '';
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #801313;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.gem-card__deleteButton:hover::before {
  width: 250%;
}

/* update button */

.gem-card__updateButton {
  font-family: 'Bebas Neue', sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2c74b3;
  transition: all 1000ms;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c74b3;
  margin: 20px;
  z-index: 1;
}

.gem-card__updateButton:hover {
  color: white;
  transform: scale(1.1);
  outline: 2px solid white;
  box-shadow: 4px 5px 17px -4px #268391;
}

.gem-card__updateButton::before {
  content: '';
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #144272;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.gem-card__updateButton:hover::before {
  width: 250%;
}

/* modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.modal-title {
  font-size: 24px;
  margin: 0 0 10px;
}

.modal-message {
  margin: 0 0 20px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
}

.modal-button {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

.modal-button.confirm {
  background-color: #c0392b;
  color: #fff;
}

.modal-button.cancel {
  background-color: #2980b9;
  color: #fff;
}

/* images */
.gem-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  transition: opacity 0.3s ease-in-out;
}

.gem-image-container:hover {
  opacity: 0.8;
}

.gem-card__image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.gem-card__image:hover {
  transform: scale(1.1);
}

.gem-card__buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.gem-card__buttons button {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.gem-card__buttons button:hover {
  filter: brightness(80%); /* Darkens the current color by 20% */
  color: #fff;
}
