/* slider */

/* welcome box */
.welcome-box {
  background: url('../images/welcome.png') no-repeat;
  color: white;
  margin: 20px 0;
  padding: 80px;
}

.line-1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  font-family: blackjack;
}

.line-2 {
  font-size: 70px;
  margin: 0;
  padding: 0;
  font-family: Lobster;
  font-weight: 300;
}

/* cards */

.gem-nav-card {
  background: url('../images/sliderImg\(4\).jpg') no-repeat;
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin: 30px;
}
