/* slider */
.slider-space {
  padding: 30px 0;
}

/* welcome box */
.welcome-box {
  background: url('../images/welcome.png') no-repeat;
  color: white;
  margin: 20px 0;
  padding: 80px;
}

.line-1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  font-family: blackjack;
}

.line-2 {
  font-size: 70px;
  margin: 0;
  padding: 0;
  font-family: Lobster;
  font-weight: 300;
}

.hr-home {
  height: 3px;
  border: none;
  background-color: #144272;
  opacity: 100%;
}

/* cards */
/* gem */
.gem-nav-card {
  height: 500px;
  margin: 60px;
  overflow: hidden;
}

.gem-img-holder {
  height: 100%;
  width: 100%;
  background: url('../images/homeGemImg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-name {
  line-height: 500px;
  color: white;
  opacity: 100%;
  font-family: Bebas Neue;
  font-size: 80px;
}

.banner {
  text-decoration: none;
}

.gem-img-holder:hover {
  transform: scale(1.5);
  transition: 0.5s;
  text-shadow: 2px 2px 2px black;
}

.dark-box:hover {
  background-color: black;
  opacity: 0.5;
  transition: 0.5s;
}

/* womens jewellery */

.womenj-nav-card {
  height: 500px;
  margin: 60px;
  overflow: hidden;
}

.womenj-img-holder {
  height: 100%;
  width: 100%;
  background: url('../images/homeWomenJewelleryImg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.womenj-img-holder:hover {
  transform: scale(1.5);
  transition: 0.5s;
  text-shadow: 2px 2px 2px black;
}

/* mens jewellery */

.menj-nav-card {
  height: 500px;
  margin: 60px;
  overflow: hidden;
}

.menj-img-holder {
  height: 100%;
  width: 100%;
  background: url('../images/homeMenJewelleryImg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menj-img-holder:hover {
  transform: scale(1.5);
  transition: 0.5s;
  text-shadow: 2px 2px 2px black;
}

/* bimsara */

.logincheckbtn {
  font-family: Bebas Neue;
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid red;
  margin: 20px;
  background-color: red;
}

.logincheckbtn:hover {
  color: red;
  transform: scale(1.1);
  outline: 2px solid red;
  box-shadow: 4px 5px 17px -4px red;
}

.logincheckbtn::before {
  content: '';
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.logincheckbtn:hover::before {
  width: 250%;
}